.swiper {
    height: 400px;
    border-radius: 14px;
}

.swiper .swiper-slide img {
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;
    color: var(--color-gray-500);
    box-shadow: 0 0 10px #0000001a;
}

.swiper-button-prev {
    transform: translateX(-50%);
}

.swiper-button-next {
    transform: translateX(50%);
}

.swiper-navigation-icon {
    height: 35% !important;
}